/* Reset de margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333; /* Cor de fundo da página */
    font-family: 'Poppins', sans-serif; /* Substitua 'Nome da Fonte' pelo nome da fonte */
}

/* Estilos do cabeçalho */
header {
    background-color: #000; /* Cor de fundo do cabeçalho */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Poppins', sans-serif; /* Substitua 'Nome da Fonte' pelo nome da fonte */
}

.header-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Adiciona quebra de linha em telas menores */
}

.logo img {
    width: 200px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos da imagem de fundo */
.background-image {
    position: relative;
    height: 100vh; /* Tamanho da imagem de fundo */
    background: url('/fundo.jpg') no-repeat center center fixed; /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos do conteúdo sobreposto */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: justify;
    margin: 0;
    font-size: 16px;
}

.overlay h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 14px;
    margin: 20px 20px;
}

.overlay a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #FFF;
    font-size: 14px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.overlay a:hover {
    background-color: #000;
    color: #FF0000;
}

.welcome-section {
        background-color: #333; /* Fundo cinza chumbo */
        color: #FFF; /* Texto branco */
        text-align: center;
        padding: 40px 0;
    }

.welcome-section h1 {
        margin: 0;
        font-size: 20px;
    }

    .welcome-section h2 {
        margin: 0;
        font-size: 14px;
    }


.welcome-section p {
    margin: 0;
    font-size: 10px;
    text-align: justify;
}

    .icon-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Três colunas com largura igual */
        gap: 20px; /* Espaçamento entre os itens do grid */
        padding: 10px;
        text-align: center;
    }

    .icon-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    icon-item img {
        width: 100px;
        height: 100px;
    }



nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    overflow: auto; /* Adiciona rolagem horizontal em telas menores */
    transition: margin-left 0.3s; /* Adiciona uma transição suave para o recuo */
}

nav li {
    margin: 0 8px; /* Reduz o espaçamento entre os itens */
}

nav a {
    text-decoration: none;
    color: #FFF; /* Cor do texto do menu */
    transition: color 0.3s;
}

nav a:hover {
    color: #FF0000; /* Cor do texto ao passar o mouse */
}

.hidden {
    display: none;
}

.search-icon {
    order: 5; /* Muda a ordem da lupa para aparecer à direita da logo */
}

#search-container {
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
    order: 1; /* Define a ordem da caixa de pesquisa */
}

nav ul.pushed {
    margin-left: -200px; /* Ajuste conforme a largura da caixa de pesquisa */
}

#search-container.expanded {
    width: 200px; /* Largura da caixa de pesquisa ao expandir */
}

/* Estilos para telas menores */

@media screen and (min-width: 769px) {
    header {
        padding: 10px 220px; /* Adiciona margem de 10px no topo e 22px nas laterais */
    }

    .overlay p {
    font-size: 18px;
    margin: 20px 200px;
    }
    
    .overlay a {
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        background-color: #000;
        color: #FFF;
        font-size: 24px;
        border-radius: 8px;
        transition: background-color 0.3s, color 0.3s;
    }

    .welcome-section p {
        margin: 0;
        font-size: 14px;
        text-align: justify;
    }

    .welcome-section h1 {
        margin: 0;
        font-size: 36px;
    }

    .welcome-section h2 {
        margin: 0;
        font-size: 24px;
    }

}

/*CSS da grid da produtos.html*/
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    max-width: 1200px; /* Define uma largura máxima para o grid */
    margin: 0 auto; /* Centraliza o grid na página */
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}

.product {
    text-align: center;
    color: #FFF;
    width: calc(33% - 20px); /* Calcula o tamanho das colunas com espaço entre elas */
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.products a:hover {
    color: #FF0000;
    text-decoration: none; /* Remover sublinhado */
}

.product img {
    max-width: 100%;
    max-height: 450px;
}


/* Animação de fade-in */
@keyframes fade-in {
    to {
        opacity: 1;
    }
}

/* Estilo para links visitados */
a {
    color: #FFF; /* Mesma cor que os links não visitados ou uma cor diferente */
    text-decoration: none; /* Remover sublinhado */
}

@media screen and (max-width: 768px) {
    .logo img {
        width: 150px; /* Tamanho da imagem da logo em telas menores */
    }

    .search-icon,
    #search-container {
        order: 2; /* Altera a ordem da lupa e da caixa de pesquisa em telas menores */
    }

    nav ul.pushed {
        margin-left: 0; /* Remove a margem esquerda da caixa de pesquisa em telas menores */
    }

    #search-container.expanded {
        width: 100%; /* Largura da caixa de pesquisa ocupa todo o espaço em telas menores */
    }
    .products {
        justify-content: center; /* Centraliza os produtos na tela */
    }

    .product {
        width: 100%; /* Define a largura para ocupar toda a largura da tela */
    }
    
}

    .item {
    display: flex;
    padding: 20px 200px;
    color: #FFF;

}

.item-image {
    width: 500px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 50px; /* Margem de 200px à direita */
}

.item-details {
    flex: 1; /* Cresce para preencher o espaço restante */
    margin-top: 50px;
}

.item-title {
    font-size: 24px;
    margin-top: 0;
}

.item-info-title {
    font-size: 18px;
    margin-top: 20px;
}

.item-info {
    font-size: 16px;
    margin-top: 10px;
    text-align: justify; /* Justificação do texto */
}

.botao-voltar {
    display: inline-flex; /* Tornar o link um bloco para ocupar toda a largura disponível */
    margin-top: 20px; /* Espaço entre o item-details e o botão */
    text-align: left; /* Centralizar o texto horizontalmente */
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
}

.fade-in {
    animation: fadeInAnimation ease 2s; /* Duração da animação de 2 segundos */
    animation-iteration-count: 1; /* Executar a animação apenas uma vez */
    animation-fill-mode: forwards; /* Manter o estado final da animação */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0; /* Começar com a imagem invisível */
    }
    100% {
        opacity: 1; /* Terminar com a imagem totalmente visível */
    }
}
